.homeContainer{
	padding-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);

}
.sliderContainer{
    display: flex;
    height: 500px;
}

.react-3d-carousel .slider-container .slider-left div {
	color: yellow;
	height: auto;
}